/* Default styles */
button {
    color: rgb(255, 255, 255);
    border: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    height: 32px;
    margin-top: 10px;
    width: 130px;
}

img {
    height: 300px;
}

/* Responsive styles */
@media (max-width: 768px) {
    /* Adjust button styles for smaller screens */
    button {
        width: 100%;
    }
    .d-flex{
        flex-direction: column;
    }
    h5{
        font-size: 12px;
       }

    /* Adjust image height for smaller screens */
    img {
        height: auto; /* Allow the image to scale proportionally */
        max-width: 100%; /* Ensure the image doesn't exceed its container */
    }
}
